.login-background, .signup-background, .upload-background {
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, button, thead {
    font-family: 'Merriweather Sans', sans-serif;
}

small, span, tbody, p, a {
    font-family: 'Source Sans 3', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Merriweather';
}

a > i, div > i, section i {
    color: #BB2E29;
}

a > h1, h3, h4, h5, a {
    color: #BB2E29;
}

.nav-link {
    color: #BB2E29 !important;
}

.bg-red {
    background-color: #BB2E29 !important;
}

.red-btn {
    color:#BB2E29 !important;
}

.red-title {
    color: #BB2E29;
}

.red-input {
    background-color: #BB2E29;
    color: white;
    border: 2px solid #BB2E29;
    transition: all 0.3s ease-in-out;
}

.red-input:hover, .red-input:focus, .red-input:active, .red-input:focus-visible {
    background-color: white !important;
    color: #BB2E29 !important;
    border-color: #BB2E29 !important;
}

.btn-upload {
    background-color: white;
    color: #BB2E29;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
}

.btn-upload:hover, .btn-upload:focus, .btn-upload:active, .btn-upload:focus-visible {
    opacity: 0.8 !important;
    background-color: white !important;
    color: #BB2E29 !important;
    border: 2px solid white !important;
}

.star-btn {
    font-size: 2rem;
    color: #ddd;
    transition: all 0.2s;
    padding: 0.5rem 0.8rem;
}

.star-btn:hover {
    color: #ffc107;
    transform: scale(1.1);
}

.star-btn.selected {
    color: #ffc107;
}