body > div:first-of-type, body > section:last-of-type {
    background-image: url(../img/sfondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-upload {
    color: #BB2E29;
}

.btn-upload i {
    color: #BB2E29;
}

.btn-upload:hover {
    color: #BB2E29;
}

section i {
    color: #BB2E29;
}

a > h1 {
    color: #BB2E29;
}

a > i { /*icona persona*/
    color: #BB2E29;
}

a {
    color: #BB2E29;
}

div > i {
    color: #BB2E29;
}

h3, h4, h5 {
    color: #BB2E29;
}

h1, button {
    font-family: 'Merriweather Sans', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Merriweather';
}

p, a {
    font-family: 'Source Sans 3';
}

footer {
    color: #BB2E29;
}