body > header, body > section:last-of-type {
    background-image: url(../img/sfondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

body > nav > a > h1, body > button {
    font-family: 'Merriweather Sans', sans-serif;
}