body > header, body > section:last-of-type {
    background-image: url(../img/sfondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1, button {
    font-family: 'Merriweather Sans', sans-serif;
}

h2, h3, h4 {
    font-family: 'Merriweather';
}

p, a {
    font-family: 'Source Sans 3';
}